@model IEnumerable<PRNFinalProject.Models.Genre>

@{
    ViewData["Title"] = "ListGenre";
}

<h1>ListGenre</h1>

<p>
    <a asp-controller="Admin" asp-action="AddGenre">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="EditGenre" asp-route-id="@item.GenreId">Edit</a> |
            </td>
                <td>
                    <a asp-controller="Admin" asp-action="DeleteGenre" asp-route-id="@item.GenreId" onclick="return confirmDelete();">Delete</a> |
                </td>

                <!-- Đoạn script JavaScript để hiển thị hộp thoại xác nhận -->
                <script>
                    function confirmDelete() {
                        var result = confirm("Bạn có muốn tiếp tục không?");
                        return result;
                    }
                </script>
        </tr>
}
    </tbody>
</table>
